<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <h1>관리자 페이지</h1>
    <div class="img">
        <a href="/admin/search-page">
            <div class="content">
                <h4>건물 정보 검색하기</h4>
            </div>
            <div class="img-cover" style="background-image: url()"></div>
        </a>
    </div>
    <div class="img">
        <a href="/admin/create-page">
            <div class="content">
                <h4>건물 정보 추가하기</h4>
            </div>
            <div class="img-cover" style="background-image: url()"></div>
        </a>
    </div>
    <div class="img">
        <a href="/admin/delete-page">
            <div class="content">
                <h4>건물 정보 삭제하기</h4>
            </div>
            <div class="img-cover" style="background-image: url()"></div>
        </a>
    </div>
    <div class="img">
        <a href="/admin/update-page">
            <div class="content">
                <h4>건물 정보 수정하기</h4>
            </div>
            <div class="img-cover" style="background-image: url()"></div>
        </a>
    </div>
    
<%- include('../includes/end.ejs') %>
    