<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <h1>건물 정보 추가하기</h1>
    <div class="form">
        <div class="form-control">
            <label for="title">건물 이름</label>
            <input type="text" name="title" id="title" placeholder="건물이름">
        </div>
        <div class="form-control">
            <label for="buildingImageUrl">건물 사진</label>
            <input type="text" name="buildingImageUrl" id="buildingImageUrl" placeholder="이미지 링크">
        </div>
        <div class="form-control">
            <label for="address">건물 주소</label>
            <input type="text" name="address" id="address" step="0.01" placeholder="건물주소">
        </div>
        <div class="form-control">
            <label for="city">송도국제도시 / 청라국제도시</label>
            <select name="city" id="city">
                <option value="songdo" selected="selected">송도국제도시</option>
                <option value="chungra">청라국제도시</option>
            </select>
        </div>

        <div class="form-control">
            <label for="sfloor">시작 층</label>
            <select name="sfloor" id="sfloor">
                <option value="5">5층</option>
                <option value="4">4층</option>
                <option value="3">3층</option>
                <option value="2">2층</option>
                <option value="1" selected="selected">1층</option>
                <option value="-1">지하 1층</option>
                <option value="-2">지하 2층</option>
                <option value="-3">지하 3층</option>
                <option value="-4">지하 4층</option>
                <option value="-5">지하 5층</option>
            </select>
        </div>

        <div class="form-btn" id="floorDiv"></div>
        <div class="form-btn" id="floorRemoveBtn"><span id="floorRemoveSpan"> 0</span>층 삭제하기</div>
        <div class="form-btn" id="floorAddBtn"><span id="floorAddSpan"> 1 </span>층 추가하기</div>

        <button class="btn" id="submitBtn">저장하기</button>
    </div>
    <div class="loader loader-default"></div>

<script src="/js/create.js"></script>
<%- include('../includes/end.ejs') %>