<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <div class="img" id="songdo">
        <a href="/songdo">
            <div class="content">
                <h4>송도국제도시</h4>
            </div>
            <div class="img-cover"></div>
        </a>
    </div>
    <div class="img" id="chungra">
        <a href="/chungra">
            <div class="content">
                <h4>청라국제도시</h4>
            </div>
            <div class="img-cover"></div>
        </a>
    </div>
    <div class="footer">
        <div class="company">
            <a href="/company/inform">
                <img src="" alt="">
                <h3>(주)에스개발</h3>
            </a>
        </div>
        <div class="company-inform">
            <p>인천광역시 서구 청라커낼로 288번길 10 <br>더스페이스타워 309호</p>
        </div>
    </div>
    <div class="loader loader-default"></div>
    <script src="/js/index.js"></script>

<%- include('./includes/end.ejs') %>

