<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>메인 페이지</h1>
    
    <a href="/songdo">
        <img src="" alt="">
        송도국제도시
    </a>
    <a href="/chungra">
        <img src="" alt="">
        청라국제도시
    </a>
</body>
</html>
