<%- include('../includes/head.ejs') %>

</head>
<body>
    <h1>주식회사 에스개발</h1>
    <div>
        <p>
            저희 에스개발은 인천 향토기업으로써 투명한 기업경영과 창조적예지와 강인한 추진력으로 <br>
            4차산업기술들을 거널분야에도 입히며 생산성을 높이는데 심여를 기울이고 있습니다. <br>
            최고의 기술려과 품질로 인천 국제도시지역에 건설업을 선도하고 있습니다. <br>
            더 나아가 국가를 빛낼 수 있는 기업이 되도록 최선을 다할 것입니다. <br>
        </p>
    </div>
    <div>
        <h4>주요연혁</h4>
        <ul>
            <li>
                2009 - 2011 년 <br>
                아데니옴프라자 <br>
                763,729 제곱미터 <br>
                (인천 연수구 송도동 20-18)
            </li>
            <li>
                2014 - 2015 년 <br>
                세종프라자 <br>
                763,729 제곱미터 <br>
                (인천 연수구 송도동 22-5)
            </li>
            <li>
                2016 - 2018 년 <br>
                더스페이스타워 <br>
                2,673,675 제곱미터 <br>
                (인천 서구 청라동 157-1)
            </li>
            <li>
                주요연혁 <br>
                2020 - 2021 년 <br>
                에스원타워 <br>
                ????? 제곱미터 <br>
                (인천 ?????)
            </li>
        </ul>
    </div>
    <div>
        <a href="/admin">admin</a>
    </div>
<%- include('../includes/end.ejs') %>
